@mixin tab-islands {
	// loneley extension button
	// #nav-bar-customization-target
	// 	:not([data-extensionid])
	// 	+ [data-extensionid]:has(+ :not([data-extensionid])) {
	// }

	/* __________________COLORS__________________ */

	$colors: "blue", "turquoise", "green", "lightgreen", "yellow", "orange", "red",
		"pink", "purple", "tomato", "toolbar";

	[usercontextid] {
		background: var(--tab-island-bg) !important;
		border-radius: var(--radius) !important;
		align-items: center !important;

		.tab-stack {
			height: 80%;
		}
	}

	#tabbrowser-arrowscrollbox tab.tabbrowser-tab[selected="true"] {
		color: light-dark(black, white) !important;
	}

	#userContext-icons {
		padding: 0.25rem 0.5rem !important;
		background: var(--identity-icon-color);
		border-radius: 9999px !important;
		gap: 0.25rem !important;

		label {
			order: 1 !important;
			margin-top: -2px !important;
			// color: #fff !important;
			color: color-mix(in srgb, black 50%, transparent) !important;
		}

		image {
			// fill: #fff !important;
			fill: color-mix(in srgb, black 50%, transparent) !important;
			margin: 0 !important;
			width: 14px !important;
			height: 14px !important;
		}
	}

	@each $color in $colors {
		#page-action-buttons .identity-color-#{$color} {
			--identity-icon-color: var(--tab-island-#{$color}) !important;
			--identity-tab-color: var(--tab-island-#{$color}) !important;
		}

		.tabbrowser-tab.identity-color-#{$color}:has(+ .identity-color-#{$color}) {
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
			color: color-mix(
				in hsl,
				transparent 25%,
				light-dark(black, white)
			) !important;
		}

		.tabbrowser-tab.identity-color-#{$color}
			+ :not(.tabbrowser-tab.identity-color-#{$color}) {
			margin-left: 0.2rem !important;
		}

		:not(.tabbrowser-tab.identity-color-#{$color})
			+ .tabbrowser-tab.identity-color-#{$color} {
			&::before {
				content: "";
				width: 0.375rem;
				height: 20px;
				display: block;
				/* background: var(--identity-icon-color); */
				background: var(--tab-island-#{$color});
				border-radius: 9999px;
				--identity-tab-color: var(--tab-island-#{$color}) !important;
				--identity-icon-color: var(--tab-island-#{$color}) !important;
				translate: 3px 0;
				z-index: 1;
			}

			.tab-stack {
				margin-left: 8px;
			}
		}

		.tabbrowser-tab.identity-color-#{$color}
			+ .tabbrowser-tab.identity-color-#{$color} {
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
			color: color-mix(
				in hsl,
				transparent 25%,
				light-dark(black, white)
			) !important;
		}

		:not(.tabbrowser-tab.identity-color-#{$color})
			+ .tabbrowser-tab.identity-color-#{$color}:has(
				+ :not(.tabbrowser-tab.identity-color-#{$color})
			),
		.tabbrowser-tab.identity-color-#{$color}:first-child:has(
				+ :not(.tabbrowser-tab.identity-color-#{$color})
			),
		:not(.tabbrowser-tab.identity-color-#{$color})
			+ .tabbrowser-tab.identity-color-#{$color}:last-child {
			background: transparent !important;
			color: light-dark(white, black);
		}
	}
}
